h1 {
    background: red;
}

.paragraph-1 {
    background: pink;
    font-size: 20px;
    color: bisque;
}

.paragraph-2 {
    border: 10px solid yellowgreen;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.paragraph-4 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    text-shadow: green 4px 2px 10px;
}